.searchComponent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;

  input {
    width: 100%;
    background-color: $neutralGray;
    border: none;
    padding-left: 1rem;

    &::placeholder {
      color: $darkGray;
    }
  }

  button {
    border: none;
    background-color: $darkGray;
    color: $neutralGray;

    &:hover {
      background-color: $neutralGray;
      color: $darkGray;
    }
  }
}